.pulsing-radiator-video {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-bottom: 145.16%;
  }

  video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
