.video-frame {
  position: relative;

  &__frame {
    position: relative;
    width: 321px;
    background-image: inline('../images/frame.png');
    background-size: cover;

    &:before {
      content: '';
      display: block;
      padding-top: 200.7%;
    }
  }

  &__video-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 89%;
    height: 95%;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
  }

  &__video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.55s ease-in-out;
    will-change: opacity;

    &._hidden {
      opacity: 0;
    }
  }

  &._white {
    .video-frame {
      &__frame {
        width: 300px;
        background-image: inline('../images/frame-white.png');

        &:before {
          padding-top: 183.13%;
        }
      }

      &__video-container {
        width: 80%;
        height: 86%;
      }
    }
  }

  &._tabs {
    .video-frame {
      &__frame {
        width: 33vh;
      }
    }
  }
}
